body {
    width: 100%;
    background-color: rgb(176, 201, 197);
    font-style: georgia, sans-serif;
    margin: 0;
    padding: 0;
}

.heading {
    width: 100vw;
}

.header {
    display: flex;
    background-color: pink;
    width: 100vw;
}

.club-name {
    width: 60%;
}

h1 {
    text-transform: uppercase;
    font-size: 1.5em;
    color: rgb(182, 86, 166);
    font-style: georgia;
}

span {
    color: rgb(179, 95, 39);
    font-weight: bold;
    font-style: italic;
}

ul {
    list-style-type: none;
    margin-top: 1.6em;
}

li {
    display: inline;
}

a {
    text-decoration: none;
}

.access {
    display: block;
    margin-top: 40px;
}

.log-in {
    display: flex;
    justify-content: center;
}

.log-field {
    margin-top: 20px;
}

.mail {
    margin-bottom: 12px;
}

.mail-box {
    margin-left: 25px;
}

button {
    position: relative;
    left: calc(50vw - 2em);
    width: 4em;
    height: 35px;
    font-size: 1.2em;
    border: none;
    border-radius: 15%;
}

.about,
.tips {
    background-color: rgb(176, 189, 216);
}

h2,
h3 {
    padding: 1.8em 0 0 68px;
    text-transform: uppercase;
    text-decoration: underline;
}

p,
.two {
    line-height: 1.5em;
    font-size: 1.5em;
    padding: 1.6em;
}

.footer {
    width: 100vw;
    display: inline-flex;
}

.images {
    display: flex;
    gap: 0.5em;
}

.pics {
    width: calc(100vw / 2em);
}

.one,
.footer-image {
    width: calc((100vw / 3));
    height: calc((100vw / 3));
}

.footer-text {
    width: 400px;
    height: 27em;
    overflow: hidden auto;
    border: 1px solid rgb(24, 72, 94)
}

h4 {
    text-transform: uppercase;
    text-align: center;
    font-size: 2.0em;
    color: rgb(255, 127, 127)
}

.text {
    line-height: 1.5em;
    font-size: 1.2em;
    padding: 0.6em;
    color: beige;
    text-align: center;
}

.footer-image {
    border-radius: 50%;
}

.text:hover {
    background-color: black;
    height: 200px;
}

.invite {
    margin-left: 25vw;
    width: 50vw;
    height: 50vw;
}

.invite:hover {
    background-color: rgb(206, 200, 200);
}

h5 {
    margin-top: 0;
    padding-top: 0;
    font-size: 1.6em;
    text-align: center;
    color: rgb(187, 77, 25);
}

.social-media {
    display: flex;
    width: 100vw;
    background-color: rgb(197, 201, 236);
}

.contact {
    display: block;
    margin-bottom: 1.3em;
}

.media {
    margin-left: auto;
}

.cont {}

.ten {
    display: block;
    margin-right: auto;
}

@media screen and (max-width: 400px) {
    body {}
    .images .one {
        width: 300px;
        height: 250px;
        border: 1px solid blue;
        top: -200px;
    }
    .images .pics .one:first-child {
        height: 520px;
        position: relative;
    }
    .images .pics {
        height: 250px;
        width: 300px;
        overflow: hidden;
        border: 1px solid deeppink;
    }
    #two img {
        height: 320px;
    }
    .images {
        display: inline-block;
    }
}